<div class="edit-provider">

    <h1 data-ng-if="vm.provider.id">Edit Provider <span>: {{ vm.provider.name }}</span></h1>

    <h1 data-ng-if="!vm.provider.id">Create Provider <span data-ng-if="vm.provider.name">: {{ vm.provider.name }}</span></h1>

    <div>
        <input placeholder="Name" data-ng-model="vm.provider.name" />
    </div>

    <div data-ng-repeat='item in vm.provider.bundles'>
        <label>
            <input type="checkbox" data-ng-model='item.checked' />
            {{ item.name }}
        </label>
    </div>

    <button data-ng-click="vm.provider.save()">
        Save
    </button>
</div>