<div class="edit-provider">

    <h1 data-ng-if="vm.provider.id">Edit Provider <span>: {{ vm.provider.name }}</span></h1>

    <h1 data-ng-if="!vm.provider.id">Create Provider <span data-ng-if="vm.provider.name">: {{ vm.provider.name }}</span></h1>

    <div class="edit-provider-form">
        <input placeholder="Name" type="text" data-ng-model="vm.provider.name" />
    </div>

    <div class="edit-bundle-associations">
        <div class="edit-bundle-association">
            <h2>Bundles</h2>
            <div data-ng-repeat='item in vm.provider.bundles'>
                <label>
                    <input type="checkbox" data-ng-model='item.checked' />
                    {{ item.name }}
                </label>
            </div>
        </div>
        <span style="font-size:.75em; padding-bottom:15px; display:block;">( SELECT TO CREATE AN ASSOCIATION WITH PROVIDER )</span>
    </div>


    <button data-ng-click="vm.provider.save()" data-ng-disabled="vm.provider.name == null || vm.provider.name.length===0">Save</button>

    <button data-ng-click="vm.provider.cancel()">Cancel</button>

</div>