<div class="provider-list">
    
    <edit-provider provider="vm.modelInstance"></edit-provider>

    <h1>All Providers</h1>

    <div>
        <div>
            <div style="position:relative; float:left; width:200px;"><h3>Name</h3></div>
            <div style="position:relative; float:left;">&nbsp;</div>
            <div style="clear:both"></div>
        </div>
        <div class="enity-list-item" data-ng-repeat="item in vm.items">
            <div style="position:relative; float:left; width:200px;">{{ item.name }}</div>
            <div style="position:relative; float:left;">
                <a style="cursor:pointer;" data-ng-click="item.edit()">edit</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a style="cursor:pointer;" data-ng-click="item.remove()">delete</a>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>

</div>