<div class="edit-brand">

    <h1 data-ng-if="vm.brand.id">Edit Brand <span>: {{ vm.brand.name }}</span></h1>

    <h1 data-ng-if="!vm.brand.id">Create Brand <span data-ng-if="vm.brand.name">: {{ vm.brand.name }}</span></h1>

    <div>
        <input placeholder="Name" data-ng-model="vm.brand.name" />
    </div>

    <div>
        <h2>Providers</h2>
        <div data-ng-repeat='item in vm.brand.providers'>
            <label>
                <input type="checkbox" data-ng-model='item.checked' />
                {{ item.name }}
            </label>
        </div>
    </div>


    <div>
        <h2>Pages</h2>
        <div data-ng-repeat='item in vm.brand.pages'>
            <label>
                <input type="checkbox" data-ng-model='item.checked' />
                {{ item.name }}
            </label>
        </div>
    </div>

    <button data-ng-click="vm.brand.create()" data-ng-disabled="vm.brand.id == 0">Create New</button>
    <button data-ng-click="vm.brand.save()" data-ng-disabled="vm.brand.name == null || vm.brand.name.length ===0">Save</button>

</div>