<div class="edit-bundle">

    <h1 data-ng-if="vm.bundle.id">Edit Bundle <span>: {{ vm.bundle.name }}</span></h1>

    <h1 data-ng-if="!vm.bundle.id">Create Bundle <span  data-ng-if="vm.bundle.name">: {{ vm.bundle.name }}</span></h1>

    <div class="edit-bundle-form">
        <input placeholder="Name" type="text" data-ng-model="vm.bundle.name" />
    </div>

    <button data-ng-click="vm.bundle.save()" data-ng-disabled="vm.bundle.name == null || vm.bundle.name.length===0">Save</button>

    <button data-ng-click="vm.provider.cancel()">Cancel</button>
    
</div>